.character {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 45px;
}

.image {
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

.textBox {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.textWrap {
    display: flex;
    flex-direction: column;
}

.titleName {
    font-size: 28px;
    font-weight: 700;
    line-height: 32.81px;
    color: #ffffff;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.circle {
    position: relative;
    left: 14px;
}

.circle::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    top: 25%;
    left: -14px;
    border-radius: 50%;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 480px) {
    .character {
        flex-direction: column;
    }

    .textBox {
        flex-direction: column;
    }
}