.card {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: rgba(60, 62, 68, 1);
    overflow: hidden;
    text-decoration: none;
}

.cardImage {
    width: 220px;
    height: 220px;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 16px;
}

.textWrap {
    display: flex;
    flex-direction: column;
}

.titleName {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.circle {
    position: relative;
    left: 14px;
}

.circle::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    top: 25%;
    left: -14px;
    border-radius: 50%;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4);
}
