.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 20px;
    padding: 90px 7vw 0 7vw;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    }
}

@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    }
}