* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #202329;
}

.paginator-wrapper{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 50px 0px 60px 0;
    &__item{
      width: 32px;
      height: 32px;
      font-size: 20px;
      border-radius: 4px;
      background: #3C3E44;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active{
        background: #fff;
      }
    }
    span{
      color: #fff;
      font-size: 20px;
    }
    &__prev-btn{
      width: 20px;
    }
    &__next-btn{
      width: 20px;
      transform: rotate(180deg);
    }
    button {
        outline: none;
        border: none
    }
  }